.sidebar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
  background: #fff;
  width: 344px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
}